<!DOCTYPE html>
<html>
	<head>
		{% block stylesheets %}
		    {% stylesheets 
		    	'@UserExamBundle/Resources/public/css/*' filter='cssrewrite'
		     %}
		         <link rel="stylesheet" href="{{ asset_url }}" />
		         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		    {% endstylesheets %}
		{% endblock %}
	</head>
	<body>

		
		<h4>Hi {{ name }}</h4>

		<p>You received this email because you sign up the "exam site" and you'll not be able to sign in until you confirm your email. It looks like you haven't confirmed you email yet. If you already confirmed your email, please disregard this mail.</p>

		<p>If this is your email {{ email }}, Simply click the link below now confirm your email and sign in to continue using "exam site".</p>

		<p>Confirm now: http://exam/app_dev.php/confirmEmail?id={{ id }}</p>

		<p>Thank you,</p> 


	</body>
</html>