<!DOCTYPE html>
<html>
	<head>
		{% block stylesheets %}
		    {% stylesheets 
		    	'@UserExamBundle/Resources/public/css/*' filter='cssrewrite'
		     %}
		         <link rel="stylesheet" href="{{ asset_url }}" />
		         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		    {% endstylesheets %}
		{% endblock %}
	</head>
	<body>

		
		<h4>Hi {{ fname }},</h4>

		<p>	Have you forgot your password? to reset your password, Change your password in three easy steps. This keeps your new password secure. If this is your email {{ email }} , I advice you to proceed on steps to continue use your account.</p>

				<p>Steps:</p>
		<ol>
				<li> Click the link below </li>
				<li> Type your new password </li>
				<li> Confirm your new password </li>

		</ol>

		<p>To start your process, here's the steps http://exam/app_dev.php/resetpassword?id={{ id }}</p>

		<p>Thank you,</p> 


	</body>
</html>